@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
/* @tailwind utilities; */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /* Optional: Reset default breakpoints if you want to define them all from scratch */
  --breakpoint-*: initial;

  /* Define your custom breakpoints */
  --breakpoint-mobile: 767px;
  --breakpoint-smaller-tablet: 768px;
  --breakpoint-tablet: 1023px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1729px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("/fonts/HelveticaNeue Light.ttf") format("truetype");
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueRegular";
  src: url("/fonts/HelveticaNeue Regular.ttf") format("truetype");
  /* font-weight: 400; */
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: HelveticaNeueLight, sans-serif;
}

.font-regular {
  font-family: HelveticaNeueRegular, sans-serif;
}
